body {
  background-image: url(../theater.jpg);
  background-size: cover;
}

.jumbotron {
  background-color: white;
  font-family: "PHOSPHATE";
  text-align: center;
  color: #d8084d;
}

option {
  width: 300px;
}

.age-box {
  background-color: white;
  padding: 20px;
  width: 200px;
  border-radius: 5px;
}

.prices {
  display: none;
}

.well {
  margin: 20px;
  background-color: #8cb5f7;
}

.show-price {
  font-weight: bold;
}

footer {
  color: white;
  text-align: center;
}

footer a {
  color: white;
}

footer,
.push {
  height: 50px;
}
